@model R52_M7_Class_02_Work_01.Models.Product
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-12">
        <h2>Create</h2>
        @using (Html.BeginForm())
        {
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.ProductName, new { @class = "col-form-label col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ProductName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">
                @Html.LabelFor(x => x.Price, new { @class = "col-form-label col-2 text-end" })
                <div class="col-4">
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-4 offset-2">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        }
    </div>
    <div class="col-12">
        @Html.ActionLink("Back to list", "Index")
    </div>


    @section scripts {
        <script src="~/Scripts/jquery-3.6.3.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }

