
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MVC</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.3.js"></script>
    <script src="~/Scripts/jquery-3.6.3.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    @RenderSection("styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">MVC<sup>Pagination<sup>2</sup></sup></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "nav-link" })
                    </li> 
                    <li class="nav-item">
                        @Html.ActionLink("Car", "Index", "MyCars", new { }, new { @class = "nav-link" })
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <div class="container-fluid" style="min-height:calc(100vh - 100px)">
        @RenderBody()


    </div>

    <footer class="container-fluid">
        <p>&copy; @DateTime.Now.Year - MVC<sup>Pagingnation<sup>2</sup></sup></p>
    </footer>
    @RenderSection("scripts", false)
</body>
</html>

